# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
.env

# Node
node_modules/
.next/
out/

# IDE
.vscode/
.idea/

# Data
*.db
*.sqlite3

# Secrets
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate*
